<%- include('../partial/header'); %>
<div>
    <%- include('../partial/navbar'); %>
    <div class="row">
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Documents</span>
                    <p>
                        <i class="material-icons green-text">assignment</i>
                        <span style="margin-left: 0.5rem;">0</span>
                    </p>
    
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Blocks.</span>
                    <p>
                        <i class="material-icons red-text">call_to_action</i>
                        <span style="margin-left: 0.5rem;">0</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Students</span>
                    <p>
                        <i class="material-icons blue-text">group</i>
                        <span style="margin-left: 0.5rem;">0</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">University.</span>
                    <p>
                        <i class="material-icons red-text">view_carousel</i>
                        <span style="margin-left: 0.5rem;">0</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 l8">
            <ul class="collection">
                <h4>All Docs </h4>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons blue-text">person_outline</i>
                            Name:
                            <span class="badge"><i class="material-icons green-text">remove_red_eye</i></span></div>
                        <div class="collapsible-body">
                            <h5 class="green-text">Department: </h5>
                            
                            <hr>
                            <div class="">
                                <span class="badge">
                                    <a href="">
                                    <i class="material-icons">mode_edit</i>
                                    </a>
                                </span>
                            </div>
                            <p><i class="material-icons">person</i> </p>
                            <p><i class="material-icons">dialpad</i> </p>
    
                            <p><i class="material-icons green-text">filter_vintage</i>Active: </p>
                        
                            <p><i class="material-icons red-text">block</i>Active: </p> 
                        
                        </div>
                    </li>
                </ul>

            </ul>
        </div>
    </div>
</div>
<%- include('../partial/footer'); %>